In [168]:
import sqlite3
import pandas as pd

In [169]:
#Print table names in the db
conn = sqlite3.connect('soccer.sqlite')
res = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])

sqlite_sequence
Player_Attributes
Player
Match
League
Country
Team
Team_Attributes

In [170]:
match = pd.read_sql_query("SELECT * FROM Match", conn)

In [171]:
player_attributes = pd.read_sql_query("SELECT * FROM Player_Attributes", conn)

In [172]:
player = pd.read_sql_query("SELECT * FROM Player", conn)

In [173]:
league = pd.read_sql_query("SELECT * FROM League", conn)

In [174]:
country = pd.read_sql_query("SELECT * FROM Country", conn)

In [175]:
team = pd.read_sql_query("SELECT * FROM Team", conn)

In [176]:
team_attributes = pd.read_sql_query("SELECT * FROM Team_Attributes", conn)

In [177]:
label = pd.DataFrame(columns = ["Date","Home","Away"])
counter = 0
a,b = 0,0
match_nan = match.dropna()
for index, row in match_nan.iterrows():
    if row["home_team_goal"] > row["away_team_goal"]:
        a,b = 1,-1
    elif row["home_team_goal"] < row["away_team_goal"]:
        a,b = -1,1
    else:
        a,b = 0,0
    label.loc[counter] = [row["date"], a, b]
    counter += 1
print(label)

                     Date Home Away
0     2012-08-18 00:00:00    0    0
1     2012-08-20 00:00:00    1   -1
2     2012-08-18 00:00:00    1   -1
3     2012-08-19 00:00:00    1   -1
4     2012-08-18 00:00:00    1   -1
5     2012-08-18 00:00:00   -1    1
6     2012-08-18 00:00:00    0    0
7     2012-08-18 00:00:00    1   -1
8     2012-08-18 00:00:00    1   -1
9     2012-08-19 00:00:00   -1    1
10    2012-11-03 00:00:00    0    0
11    2012-11-04 00:00:00    0    0
12    2012-11-03 00:00:00    1   -1
13    2012-11-03 00:00:00    1   -1
14    2012-11-04 00:00:00    0    0
15    2012-11-03 00:00:00   -1    1
16    2012-11-03 00:00:00    0    0
17    2012-11-03 00:00:00   -1    1
18    2012-11-05 00:00:00    1   -1
19    2012-11-03 00:00:00    0    0
20    2012-11-10 00:00:00    0    0
21    2012-11-10 00:00:00   -1    1
22    2012-11-11 00:00:00    0    0
23    2012-11-10 00:00:00    1   -1
24    2012-11-11 00:00:00    1   -1
25    2012-11-11 00:00:00   -1    1
26    2012-11-10 00:00:00    0    0
27    2012-11-10 00:00:00    0    0
28    2012-11-10 00:00:00    1   -1
29    2012-11-10 00:00:00   -1    1
...                   ...  ...  ...
1732  2012-10-06 00:00:00    0    0
1733  2012-10-07 00:00:00    1   -1
1734  2012-10-06 00:00:00    1   -1
1735  2012-10-07 00:00:00    1   -1
1736  2012-10-07 00:00:00    1   -1
1737  2012-10-06 00:00:00   -1    1
1738  2012-10-07 00:00:00   -1    1
1739  2012-10-05 00:00:00    1   -1
1740  2012-10-07 00:00:00    0    0
1741  2012-10-06 00:00:00    1   -1
1742  2012-10-21 00:00:00    1   -1
1743  2012-10-20 00:00:00    1   -1
1744  2012-10-21 00:00:00   -1    1
1745  2012-10-21 00:00:00    0    0
1746  2012-10-20 00:00:00    1   -1
1747  2012-10-21 00:00:00   -1    1
1748  2012-10-21 00:00:00   -1    1
1749  2012-10-22 00:00:00    1   -1
1750  2012-10-20 00:00:00    1   -1
1751  2012-10-20 00:00:00   -1    1
1752  2012-10-27 00:00:00    0    0
1753  2012-10-29 00:00:00    0    0
1754  2012-10-28 00:00:00    1   -1
1755  2012-10-27 00:00:00    1   -1
1756  2012-10-28 00:00:00   -1    1
1757  2012-10-28 00:00:00    1   -1
1758  2012-10-28 00:00:00    1   -1
1759  2012-10-28 00:00:00   -1    1
1760  2012-10-27 00:00:00    0    0
1761  2012-10-27 00:00:00   -1    1

[1762 rows x 3 columns]

In [179]:
label.to_csv('label.csv')